@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monda:wght@400;700&display=swap");

// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Monda', sans-serif;

// typography
$font-display: "Julius Sans One", sans-serif;
$font-body: "Monda", sans-serif;

// typescale
$base-font-size: 16px;
$font-lg: 3.052rem;
$font-md: 1.953rem;
$font-sm: 0.8rem;
