@import "base";
@import "typography";

// spacing

body {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  font-size: $base-font-size;
  font-family: $font-body;
}

.container {
  padding: 0 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  a {
    text-decoration: none;
    font-size: $font-md;
    color: #fff;
    margin-left: 8px;
    transition: color ease-in 0.5s;

    &:hover {
      color: rgb(115, 169, 251);
    }
  }
}

h1 {
  font-family: $font-display;
  font-size: $font-lg;
}

.hero__card {
  background-color: #3333337a;
  border-radius: 16px;
  text-align: center;
  padding: 2rem 4rem;
  width: 700px;
  margin: 4rem auto;

  h2 {
    font-size: $font-lg;
    text-transform: uppercase;
  }

  p {
    color: #929292;
    margin: 1.5rem 0;
    text-transform: uppercase;
  }

  a {
    background-color: #ff0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    // margin: 1.5rem 0;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: 700;
    display: inline-block;
  }
}

footer {
  display: flex;
  justify-content: space-between;
}
