@import "base";
@import "typography";

body {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  font-size: $base-font-size;
  font-family: $font-body;
}

nav {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #fff;
  }
}

h1 {
  font-family: $font-display;
}
